export(import_metaphlan)
export(validate_input)
export(prepare_project)
export(apply_preparation)
export(composition_table)
export(plot_composition)
export(save_project)
export(open_project)
export(export_project)
export(replay_project)
export(example_project)
export(run_app)
importFrom(stats,setNames)
importFrom(utils,capture.output,head,modifyList,read.delim,read.table,sessionInfo,str)

export(export_figure)
export(export_composition_data)
export(calculate_alpha)
export(apply_alpha)
export(compare_alpha)
export(plot_alpha)
export(plot_alpha_estimates)
export(plot_alpha_diagnostics)
export(export_alpha)
export(replay_alpha)
export(calculate_beta)
export(apply_beta)
export(compare_beta)
export(beta_dispersion)
export(plot_beta)
export(plot_beta_dispersion)
export(plot_beta_eigenvalues)
export(plot_beta_permutations)
export(export_beta)
export(replay_beta)
export(alpha_plot_settings)
export(alpha_style_data)
export(alpha_style_layers)
export(apply_assay)
export(rebuild_assays)
export(assay_summary)
export(assay_values)
export(export_assays)
